<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite" verbose="1">
    <test name="MyFirstTest">
        <classes>
            <class name="FirstSeleniumTest"/>

        </classes>
    </test>

<!--    <test name="MySecondTest">-->
<!--        <classes>-->
<!--            <class name="com.example.tests.AnotherClass">-->
<!--                <methods>-->
<!--                    <include name="testMethodA"/>-->
<!--                    <exclude name="testMethodB"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>